.post-img-label{
    height: 100px;
    width:100%;
    border:2px dotted white;
    border-radius: 1rem;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}